@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
  --primary: #fff;
  --bg-color: rgb(5, 53, 61);
  --bg-envelope-color: #f5edd1;
  --envelope-tab: #ecdeb8;
  --envelope-cover: #e6cfa7;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --txt-color: #444;
  --heart-color: rgb(252, 8, 231);
  --ff: 'Josefin Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('./images/we-both.jpg') center/cover no-repeat;
  background-attachment: fixed;
  filter: blur(15px);
  z-index: -1;
}

.container {
  height: 100vh;
  display: grid;
  place-items: center;
}

.container>.envelope-wrapper {
  background: var(--bg-envelope-color);
  box-shadow: 0 0 40px var(--shadow-color);
  margin-top: auto;
  margin-bottom: 10px;
}

.envelope-wrapper>.envelope {
  position: relative;
  width: 300px;
  height: 230px;
}

.envelope-wrapper>.envelope::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 2;
  border-top: 130px solid var(--envelope-tab);
  border-right: 150px solid transparent;
  border-left: 150px solid transparent;
  transform-origin: top;
  transition: all 0.5s ease-in-out 0.7s;
}

.envelope-wrapper>.envelope::after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 0px;
  height: 0px;
  border-top: 130px solid transparent;
  border-right: 150px solid var(--envelope-cover);
  border-bottom: 100px solid var(--envelope-cover);
  border-left: 150px solid var(--envelope-cover);
}

.envelope>.letter {
  position: absolute;
  right: 20%;
  bottom: 0;
  width: 54%;
  height: 82%;
  background: rgba(255, 255, 255, 255);
  text-align: center;
  transition: all 1s ease-in-out;
  box-shadow: 0 0 5px var(--shadow-color);
  padding: 20px 10px;
}

.envelope>.letter>.text {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--txt-color);
  text-align: center;
  font-size: 10px;
  font-family: var(--ff);
}

.text-container {
  max-width: 600px;
  margin: 0 auto;
}

.scrollable-content {
  max-height: 110px;
  overflow-y: auto;
  margin-top: 5px;
}

.heart {
  position: absolute;
  top: 92%;
  left: 50%;
  width: 15px;
  height: 15px;
  background: var(--heart-color);
  z-index: 4;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: transform 0.5s ease-in-out 1s;
  box-shadow: 0 1px 6px var(--shadow-color);
  cursor: pointer;
}

.heart:before,
.heart:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: var(--heart-color);
  border-radius: 50%;
}

.heart:before {
  top: -7.5px;
}

.heart:after {
  right: 7.5px;
}

.flap>.envelope:before {
  transform: rotateX(180deg);
  z-index: 0;
}

.flap>.envelope>.letter {
  bottom: 100px;
  transform: scale(1.5);
  transition-delay: 1s;
}

.flap>.heart {
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  transition-delay: 0.4s;
}

.hidden-button {
  display: none;
  position: fixed;
  top: 50px;
  right: 40px;
  z-index: 999;
  cursor: pointer;

  border: none;
  border-radius: 4px;
  color: rgb(200, 207, 207);
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.1);

  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  animation: fadeInUp 1s forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.visible {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.hidden-button-two {
  margin-right: -140px;
  border: none;
  border-radius: 4px;
  color: rgb(200, 207, 207);
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

/* Custom Audio Player */
.custom-audio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.custom-controls {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.play-pause-btn {
  font-size: 30px;
  cursor: pointer;
  color: var(--heart-color);
  transition: color 0.3s ease;
}

.play-pause-btn:hover {
  color: var(--envelope-cover);
}

.progress-bar {
  width: 90%;
  height: 5px;
  background: #ddd;
  position: relative;
  cursor: pointer;
}

.progress-indicator {
  height: 100%;
  width: 0;
  background: var(--heart-color);
}